.series {
    width: 45.3rem;

    .titleSeries {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 1.6rem;

        h3 {
            font-weight: 600;
            font-size: 2.8rem;
            line-height: 3.2rem;
            color: var(--sec-text);
        }

        span {
            height: 3.6rem;
            img {
                width: 3.6rem;
            }
        }
    }

    .dashboard {
        background: var(--background-white);
        padding: 1.6rem;
        border-radius: 0.8rem;

        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        box-shadow: 0px 2px 5px #5a676a0d, 0px 1px 1px #3a3a441a;

        form {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            input {
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 2.4rem;
                color: var(--sec-text);
                background: transparent;
                border: none;
                outline: none;
                cursor: text;
            }

            button {
                font-size: 0;
                background: transparent;
                border: none;
                outline: none;

                img {
                    height: 1.3rem;
                }
            }
        }

        .chapterContainer {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;

            padding: 0.8rem;
            border-radius: 0.4rem;
            background: var(--gray-light);

            & > span:first-child {
                cursor: grab;
                display: grid;
                place-items: center;
            }

            .index {
                width: 2rem;
                height: 2rem;

                border: 1px solid var(--gray-middle-dark);
                border-radius: 50%;
                display: grid;
                place-items: center;
                font-size: 1.4rem;
                color: var(--gray-middle-dark);
            }

            .titleChapter {
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: 600;
                color: var(--sec-text);
                flex: 1;
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                span {
                    width: 3.2rem;
                    height: 3.2rem;
                    background: var(--gray-tranparent);
                    border-radius: 50%;
                    display: grid;
                    place-items: center;

                    img {
                        width: 1.6rem;
                    }
                }
            }
        }
    }
}
